//- chapter1.pug
extends layout.pug

block content
    h1= title
    include include/para1.pug
    include include/para2.pug
    include include/para3.pug
    include include/para4.pug
    include include/para5.pug
    include include/para6.pug
